{% extends "base.html" %}

{% block content %}
<h1>Labels</h1>

<a class="btn btn-primary mb-3" href="{% url 'label_create' %}">Create label</a>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for label in object_list %}
    <tr>
      <td>{{ label.id }}</td>
      <td>{{ label.name }}</td>
      <td>{{ label.created_at }}</td>
      <td>
        <a class="btn btn-sm btn-outline-light" href="{% url 'label_update' label.id %}">Edit</a>
        <a class="btn btn-sm btn-outline-danger" href="{% url 'label_delete' label.id %}">Delete</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
