{% extends "base.html" %}

{% block content %}
<h1>Пользователи</h1>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Имя пользователя</th>
      <th>Полное имя</th>
    </tr>
  </thead>
  <tbody>
  {% for user in object_list %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.get_full_name }}</td>
      <td>
          <a class="btn btn-sm btn-outline-light" href="{% url 'user_update' user.id %}">Изменить</a>
          <a class="btn btn-sm btn-outline-danger" href="{% url 'user_delete' user.id %}">Удалить</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<a class="btn btn-primary" href="{% url 'user_create' %}">Создать пользователя</a>
{% endblock %}
