name: Python CI

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
        # make depends on uv
      - name: Install dependencies
        run: |
          make build
      - name: Run linter and pytest
        run: |
          make lint
      - name: Run tests
        run: |
          make test
      - name: Run test coverage
        run: |
          make test-coverage

      - name: SonarQubeScan
        uses: SonarSource/sonarqube-scan-action@v5
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=UselessHumster_python-project-50
            -Dsonar.organization=UselessHumster
            -Dsonar.python.coverage.reportPaths=coverage.xml
            -Dsonar.coverage.exclusions=tests.py
            -Dsonar.exclusions=tests.py